# pandas

pandasとはPython用のデータ分析ライブラリ

種々の統計量の計算、データの可視化などもできる非常に優れたツールです。

In [2]:
import numpy as np
import pandas as pd

# seriesの生成

pandasには、Seriesと呼ばれる１次元のデータ構造を持つクラスが存在します。

Seriesクラスを生成するためには、Seriesメソッドを使用

In [7]:
series = pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [11]:
array = np.arange(0,11)
index = 'a b c d e f g h i j k'.split()

series = pd. Series(data=array,index=index)
series

a     0
b     1
c     2
d     3
e     4
f     5
g     6
h     7
i     8
j     9
k    10
dtype: int64

# Seriesクラスの基本的な操作方法

# データの選択

In [12]:
series = pd.Series(data=[1,2,3,4,5],index=['A','B','C','D','E'])
series

A    1
B    2
C    3
D    4
E    5
dtype: int64

In [13]:
series['A']

1

In [14]:
series.loc['A':'D']

A    1
B    2
C    3
D    4
dtype: int64

In [16]:
series.loc[['B','D']]

B    2
D    4
dtype: int64

# iloc

In [17]:
series.iloc[1]

2

In [18]:
series.iloc[:2]

A    1
B    2
dtype: int64

# DataFrameの生成

データ分析を行う上で最も扱う機会が多いのが、このDataFrameクラスでしょう。

In [19]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]])
df

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
df = pd.DataFrame(data=[[1,2,3],[4,5,6],[7,8,9]],index=['A','B','C'],columns=['C1','C2','C3'])
df

   C1  C2  C3
A   1   2   3
B   4   5   6
C   7   8   9

# head()メソッドを使うと上で５行だけを取り出します。

In [21]:
from sklearn.datasets import load_iris

iris = load_iris()
iris_df = pd.DataFrame(data=iris.data, columns=iris.feature_names)
iris_df.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2